@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --font-primary: "Baloo Da 2", serif;
  --font-secundary: "Josefin Slab", serif;
  --font-action: "Mulish", serif;
}
/*----------------------------------------------------------------------------*/
/*PAGINA PROJETOS CARDS*/

.projetos {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 18rem;
  height: 25rem;
  position: relative;
}

.card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: .5rem;
}

.card-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  opacity: .8;
  transition: opacity .3s;
}

.card:hover .card-img-wrapper img {
  opacity: .5;
}

.card-info {
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  padding: 2rem;
  text-shadow: 0.3rem 0.2rem 0.3rem rgba(0,0,0, .6);
  transition: all .3s;

}
/*CARD TEXTOS*/
.card-info h2 {
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 500;
  color: #eee;
}

.card-info h3 {
  font-family: var(--font-action);
  font-weight: bolder;
  color: #ff4081;
  margin-bottom: 1.5rem;
}

.card-info p {
  font-family: var(--font-secundary);
  color: #eee;
  font-weight: 400;
  width: 90%;
  margin-bottom: 2rem;
}
/*CARD BOTÃO*/

.btn {
  background: #6a3093;
  background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  
  background: linear-gradient(to left, #a044ff, #6a3093);
  font-family: var(--font-action);
  color: #eee;
  border-radius: .5rem;
  border: none;
  box-shadow: 0 .1rem .8rem rgba(0, 0, 0 .4);
  cursor: pointer;
}

.card-info button {
  width: 8rem;
  height: 2.5rem;
  
}

.card:hover .card-info {
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}

.card-info button:hover {
  font-size: 14px;
  color: #ffffff;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0,0,0, .4);
}